---
const { lokation, beskrivelse, foto, tid } = Astro.props;
import "../styles/global.css";
import Cardwave from "../assets/cardwave.svg";
import Cardwave2 from "../assets/cardwave2.svg";
---

<articl class="flexcol">
  <div class="flexcol top">
    <img src={Cardwave.src} alt="#" />
    <h3>{lokation}</h3>
  </div>
  <img src={foto} alt="#" />
  <div class="buttom">
    <img src={Cardwave2.src} alt="#" />
    <p>{beskrivelse}</p>
    <h3>{tid}</h3>
    <button>knap</button>
  </div>
</articl>

<style>
  h2,
  h3,
  p {
    color: var(--color-secondary);
  }

  img {
    width: 300px;
    height: auto;
  }
  section {
    position: relative;
  }
  .top {
    z-index: 1;
    img {
      margin-bottom: -75px;
    }
  }
  .buttom {
    z-index: 1;
    margin-top: -35px;
    img {
      margin-bottom: -80px;
    }
  }
</style>
