---
import Card from "./Card.astro";
import Btn from "./Btn.astro";
import "../styles/global.css";
import Cardfoto from "../assets/cardfoto.png";
---

<div class="cardgrid outerpadding">
  <Card
    lokation="Lokation"
    beskrivelse="Beskrivelse"
    foto={Cardfoto.src}
    tid="Kl. 18:30 - 19:30"
  />
  <Card
    lokation="Lokation"
    beskrivelse="Beskrivelse"
    foto={Cardfoto.src}
    tid="Kl. 18:30 - 19:30"
  />
  <Card
    lokation="Lokation"
    beskrivelse="Beskrivelse"
    foto={Cardfoto.src}
    tid="Kl. 18:30 - 19:30"
  />
  <Card
    lokation="Lokation"
    beskrivelse="Beskrivelse"
    foto={Cardfoto.src}
    tid="Kl. 18:30 - 19:30"
  />
  <Card
    lokation="Lokation"
    beskrivelse="Beskrivelse"
    foto={Cardfoto.src}
    tid="Kl. 18:30 - 19:30"
  />
  <Card
    lokation="Lokation"
    beskrivelse="Beskrivelse"
    foto={Cardfoto.src}
    tid="Kl. 18:30 - 19:30"
  />
  <Card
    lokation="Lokation"
    beskrivelse="Beskrivelse"
    foto={Cardfoto.src}
    tid="Kl. 18:30 - 19:30"
  />
  <Card
    lokation="Lokation"
    beskrivelse="Beskrivelse"
    foto={Cardfoto.src}
    tid="Kl. 18:30 - 19:30"
  />
  <Card
    lokation="Lokation"
    beskrivelse="Beskrivelse"
    foto={Cardfoto.src}
    tid="Kl. 18:30 - 19:30"
  />
  <Card
    lokation="Lokation"
    beskrivelse="Beskrivelse"
    foto={Cardfoto.src}
    tid="Kl. 18:30 - 19:30"
  />
  <Card
    lokation="Lokation"
    beskrivelse="Beskrivelse"
    foto={Cardfoto.src}
    tid="Kl. 18:30 - 19:30"
  />
  <Card
    lokation="Lokation"
    beskrivelse="Beskrivelse"
    foto={Cardfoto.src}
    tid="Kl. 18:30 - 19:30"
  />
  <Card
    lokation="Lokation"
    beskrivelse="Beskrivelse"
    foto={Cardfoto.src}
    tid="Kl. 18:30 - 19:30"
  />
  <Card
    lokation="Lokation"
    beskrivelse="Beskrivelse"
    foto={Cardfoto.src}
    tid="Kl. 18:30 - 19:30"
  />
  <Card
    lokation="Lokation"
    beskrivelse="Beskrivelse"
    foto={Cardfoto.src}
    tid="Kl. 18:30 - 19:30"
  />
  <Card
    lokation="Lokation"
    beskrivelse="Beskrivelse"
    foto={Cardfoto.src}
    tid="Kl. 18:30 - 19:30"
  />
</div>

<style>
  .cardgrid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    row-gap: 50px;
    align-self: stretch;
    flex-wrap: wrap;
  }
</style>
