---
import "../styles/global.css";
import footerlogo1 from "../assets/kulturnattenlogofooter.png";
import footerlogo2 from "../assets/kulturnattenlogofooter1.png";
import footerlogo3 from "../assets/kulturnattenlogofooter2.png";
import fblogo from "../assets/fblogo.svg";
import iglogo from "../assets/iglogo.svg";
import wave3 from "../assets/wave3.svg";
---

<div class="flexcol">
  <div class="wave">
    <img src={wave3.src} alt="#" />
  </div>
  <div class="grid outerpadding footer1">
    <div class="flexcol genveje">
      <h3>Genveje</h3>

      <a href="program">Program</a>
      <a href="">Praktiske oplysninger</a>
      <a href="">Kontakt</a>
      <a href="">For arrangører</a>
    </div>
    <div class="flex some">
      <a href="#"><img src={fblogo.src} alt="Facebook" /></a>
      <a href="#"><img src={iglogo.src} alt="Instagram" /></a>
    </div>
    <div class="flexcol kontakt">
      <h3>Kontakt</h3>
      <div>
        <p>Har du spørgsmål til kulturnat?</p><p>
          Email: <a href="mailto:kulturnatten@elsinore2032.dk"
            ><u>kulturnatten@elsinore2032.dk</u></a
          >
        </p>
      </div>
    </div>
  </div>
  <div class="grid outerpadding logoer">
    <a href="#"><img src={footerlogo2.src} alt="kulturnatten" /></a>
    <a href="/"><img src={footerlogo1.src} alt="kulturnatten" /></a>
    <a href="#"><img src={footerlogo3.src} alt="kulturnatten" /></a>
  </div>
</div>

<style>
  .footer1 {
    background-color: var(--color-quaternary);
  }

  a {
    font-family: "Fonseca";
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
  }
  .grid > *:nth-child(3n + 1) {
    /* Første kolonne i hver række */
    justify-self: start;
  }

  .grid > *:nth-child(3n + 2) {
    /* Anden kolonne i hver række */
    justify-self: center;
  }

  .grid > *:nth-child(3n) {
    /* Tredje kolonne i hver række */
    justify-self: end;
  }

  h3 {
    font-size: 1.5rem;
    padding-bottom: 10px;
  }
  h3,
  p {
    color: var(--color-tertiary);
    cursor: default;
  }
  a {
    color: var(--color-tertiary);
    text-decoration: none;
  }
  a:hover {
    color: white;
  }
  ul {
    color: var(--color-tertiary);
    list-style-position: inside;
    :hover {
      color: var(--color-secondary);
    }
  }
  .kontakt {
    text-align: end;
    p {
      font-size: 1rem;
    }
  }
  .kontakt,
  .genveje {
    gap: 0.5rem;
  }
  .some {
    gap: 1rem;
    align-items: center;
    img {
      width: 3rem;
    }
    a {
      transition: all 0.3s;
    }
    a:hover {
      transform: scale(1.1);
    }
  }
  .logoer {
    background-color: var(--color-quaternary);
    align-items: center;
    img {
      max-width: 100%;
    }
  }
  .wave {
    margin-bottom: -5px;
    img {
      width: 100%;
    }
  }

  @media (max-width: 650px) {
    .grid {
      display: flex;
      flex-direction: column;
      width: 100vw;
      gap: 1.5rem;
    }
    .kontakt {
      text-align: start;
    }
  }
</style>
